/*Midrigan Cristian 1SIO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background: pink;
}

.menu {
    background-color: #333;
    color: white;
    border-top: 5px solid #333;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    background-color: #333;
    padding: 15px;
    margin-left: -20px;
}

nav > ul > li {
    position: relative;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    border-top: 5px solid transparent;
    transition: border-top 0.3s ease;
    text-align: center;

}

nav > ul > li.active > a {
    background-color: #2d5f89;
    border-bottom: 5px solid #e44d26;

}

nav > ul > li > a:hover {
    background-color: #555;
    border-top: 5px solid #0a0;
    text-decoration: none;
    font-weight: bold;

}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0a0;
    display: none;
    list-style: none;
    padding: 0;
    width: 200px;
}

nav ul li:hover > ul {
    display: block;

}

nav ul ul li {
    width: 100%;
}

nav ul ul li a {
    padding: 15px 20px;
    color: white;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

nav ul ul li a:hover {
    background-color: #0c0;
    text-decoration: none;
    font-weight: bold;

}

.menu-toggle, .toggle-label {
    display: none;
}

.center {
    text-align: center;
}

@media screen and (max-width: 680px) {
    nav > ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333;
        padding: 20px;
    }

    .menu-toggle {
        display: none;
    }

    .toggle-label {
        display: block;
        padding: 2px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        background-color: #333;
        text-align: center;
        border-top: 5px solid transparent;
        transition: border-top 0.3s ease;
        width: 100%;
    }

    nav > ul {
        display: none;
        flex-direction: column;
    }

    nav ul ul {
        position: static;
        width: 100%;
    }

    nav > ul > li {
        width: 100%;
    }

    nav > ul > li > a {
        width: 100%;
        text-align: center;
    }

    nav > ul li.active > ul {
        display: block;
    }

    nav ul li > a:active + ul,
    nav ul li > a:focus + ul {
        display: block;
    }

    nav input[type="checkbox"]:checked ~ ul {
        display: flex;
    }
}
