body {
    background-color: aqua;
    text-align: center;
    
}



.block1 {
    background-color: blue;
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.block2 {
    margin-left: 20px;
    height: 200px;
    width: 200px;

    background-color: greenyellow;
    float: right;
    
}

.block3 {
    margin-left: 20px;
    height: 180px;
    width: 150px;

    background-color: olivedrab;
    clear: both;
}